# Copyright (C) 2012 IBM Corporation and Others. All Rights Reserved.
# meta path
ICUMETA=/xsrl/E/data/meta
# exemplar jar
ICUJAR=$(ICUMETA)/lib/icu4j.jar
#MAKE_OPTS=-j2

post: icucaps.xml
	-mkdir bk
	cp icucaps.xml bk/icucaps_`date '+%Y%m%d_%H%M%S.xml'`
	scp icucaps.xml icu-project.org:public_html/tmp/
