# Copyright (C) 2025 and later: Unicode, Inc. and others.
# License & terms of use: http://www.unicode.org/copyright.html

# See https://maven.apache.org/configure.html

# Here you can define Maven options instead of passing them in command line.
# Each single argument must be put on a new line.

# Do not display transfer progress when downloading or uploading
--no-transfer-progress
