/bin
debian/*.debhelper
debian/*.substvars
debian/*files
debian/*libicu[0-9]*
debian/control
debian/docs
debian/icu
debian/icu-data
debian/icu-doc
debian/icu-i18ndata
debian/icu-locales
debian/icu.postinst
debian/icu.prerm
debian/libicu-dev
debian/postinst
debian/prerm
debian/tmp
/include
/lib
source/Doxyfile
source/Makefile
source/README
source/allinone/*.ncb
source/allinone/*.opt
source/allinone/*.suo
source/bin
source/common/*.ao
source/common/*.d
source/common/*.o
source/common/*.plg
source/common/Debug
source/common/Makefile
source/common/Release
source/common/common.res
source/common/common.vcproj.*.*.user
source/common/debug
source/common/icucfg.h
source/common/libicu*.*
source/common/release
source/common/svchook.mk
source/common/unicode/platform.h
source/config.cache
source/config.log
source/config.status
source/config/Makefile.inc
source/config/icu-config
source/config/icu-config.1
source/data/*.plg
source/data/Debug
source/data/Makefile
source/data/Release
source/data/icupkg.inc
source/data/in
source/data/makedata.vcproj.*.*.user
source/data/out
source/extra/Makefile
source/extra/scrptrun/Makefile
source/extra/uconv/*.d
source/extra/uconv/*.o
source/extra/uconv/Debug
source/extra/uconv/Makefile
source/extra/uconv/Release
source/extra/uconv/debug
source/extra/uconv/pkgdata.inc
source/extra/uconv/pkgdatain.txt
source/extra/uconv/release
source/extra/uconv/resources/*.res
source/extra/uconv/uconv
source/extra/uconv/uconv.1
source/extra/uconv/uconv.plg
source/extra/uconv/uconv.vcproj.*.*.user
source/extra/uconv/uconvmsg
source/i18n/*.ao
source/i18n/*.d
source/i18n/*.o
source/i18n/*.plg
source/i18n/Debug
source/i18n/Makefile
source/i18n/Makefile.local
source/i18n/Release
source/i18n/debug
source/i18n/i18n.res
source/i18n/i18n.vcproj.*.*.user
source/i18n/release
source/icudefs.mk
source/io/*.ao
source/io/*.d
source/io/*.o
source/io/Debug
source/io/Makefile
source/io/Release
source/io/debug
source/io/io.res
source/io/io.vcproj.*.*.user
source/io/release
source/layout/*.ao
source/layout/*.d
source/layout/*.o
source/layout/*.pdb
source/layout/Debug
source/layout/Makefile
source/layout/Release
source/layout/debug
source/layout/layout.res
source/layout/layout.vcproj.*.*.user
source/layout/release
source/layoutex/*.ao
source/layoutex/*.d
source/layoutex/*.o
source/layoutex/*.pdb
source/layoutex/Debug
source/layoutex/Makefile
source/layoutex/Release
source/layoutex/debug
source/layoutex/layoutex.res
source/layoutex/layoutex.vcproj.*.*.user
source/layoutex/release
source/lib
source/samples/Makefile
source/samples/all/all.ncb
source/samples/all/all.suo
source/samples/break/Debug
source/samples/break/break.vcproj.*.*.user
source/samples/break/release
source/samples/cal/*.d
source/samples/cal/*.pdb
source/samples/cal/Debug
source/samples/cal/Makefile
source/samples/cal/Release
source/samples/cal/cal.vcproj.*.*.user
source/samples/cal/icucal
source/samples/cal/icucal.exe
source/samples/cal/release
source/samples/case/Debug
source/samples/case/case.vcproj.*.*.user
source/samples/case/release
source/samples/citer/Debug
source/samples/citer/citer.vcproj.*.*.user
source/samples/citer/release
source/samples/coll/Debug
source/samples/coll/coll.vcproj.*.*.user
source/samples/coll/release
source/samples/csdet/Debug
source/samples/csdet/Makefile
source/samples/csdet/csdet.vcproj.*.*.user
source/samples/csdet/release
source/samples/date/*.d
source/samples/date/*.pdb
source/samples/date/Debug
source/samples/date/Makefile
source/samples/date/Release
source/samples/date/date.vcproj.*.*.user
source/samples/date/icudate
source/samples/date/icudate.exe
source/samples/date/release
source/samples/datefmt/Debug
source/samples/datefmt/datefmt.vcproj.*.*.user
source/samples/datefmt/release
source/samples/layout/*.d
source/samples/layout/*.pdb
source/samples/layout/Debug
source/samples/layout/Makefile
source/samples/layout/Release
source/samples/layout/layout.vcproj.*.*.user
source/samples/layout/release
source/samples/layout/tmp
source/samples/legacy/Debug
source/samples/legacy/legacy.vcproj.*.*.user
source/samples/legacy/release
source/samples/msgfmt/Debug
source/samples/msgfmt/msgfmt.vcproj.*.*.user
source/samples/msgfmt/release
source/samples/numfmt/Debug
source/samples/numfmt/numfmt.vcproj.*.*.user
source/samples/numfmt/release
source/samples/props/Debug
source/samples/props/props.vcproj.*.*.user
source/samples/props/release
source/samples/strsrch/Debug
source/samples/strsrch/release
source/samples/strsrch/strsrch.vcproj.*.*.user
source/samples/translit/Debug
source/samples/translit/release
source/samples/translit/translit.vcproj.*.*.user
source/samples/uciter8/Debug
source/samples/uciter8/release
source/samples/uciter8/uciter8.vcproj.*.*.user
source/samples/ucnv/Debug
source/samples/ucnv/release
source/samples/ucnv/ucnv.vcproj.*.*.user
source/samples/udata/Debug
source/samples/udata/reader.vcproj.*.*.user
source/samples/udata/reader_Win32_Debug
source/samples/udata/reader_win32_release
source/samples/udata/release
source/samples/udata/writer.vcproj.*.*.user
source/samples/ufortune/Debug
source/samples/ufortune/Release
source/samples/ufortune/ufortune.vcproj.*.*.user
source/samples/ugrep/debug
source/samples/ugrep/release
source/samples/ugrep/ugrep.vcproj.*.*.user
source/samples/uresb/Debug
source/samples/uresb/release
source/samples/uresb/resources.vcproj.*.*.user
source/samples/uresb/uresb.vcproj.*.*.user
source/samples/ustring/Debug
source/samples/ustring/release
source/samples/ustring/ustring.vcproj.*.*.user
source/stubdata/*.ao
source/stubdata/*.d
source/stubdata/*.o
source/stubdata/*.plg
source/stubdata/Debug
source/stubdata/Makefile
source/stubdata/Release
source/stubdata/cygicudt*.*
source/stubdata/debug
source/stubdata/libicu*.*
source/stubdata/libsicu*.*
source/stubdata/release
source/stubdata/stubdata.vcproj.*.*.user
source/stubdata/stubdatabuilt.txt
source/test/Makefile
source/test/cintltst/*.d
source/test/cintltst/*.o
source/test/cintltst/*.plg
source/test/cintltst/Debug
source/test/cintltst/Makefile
source/test/cintltst/Release
source/test/cintltst/cintltst
source/test/cintltst/cintltst.exe
source/test/cintltst/cintltst.vcproj.*.*.user
source/test/cintltst/debug
source/test/cintltst/release
source/test/compat/Makefile
source/test/hdrtst/Makefile
source/test/intltest/*.d
source/test/intltest/*.o
source/test/intltest/*.plg
source/test/intltest/Debug
source/test/intltest/Makefile
source/test/intltest/Makefile.local
source/test/intltest/Release
source/test/intltest/debug
source/test/intltest/intltest
source/test/intltest/intltest.exe
source/test/intltest/intltest.vcproj.*.*.user
source/test/intltest/release
source/test/iotest/*.d
source/test/iotest/*.o
source/test/iotest/Debug
source/test/iotest/Makefile
source/test/iotest/Release
source/test/iotest/debug
source/test/iotest/iotest
source/test/iotest/iotest.exe
source/test/iotest/iotest.vcproj.*.*.user
source/test/iotest/release
source/test/letest/*.d
source/test/letest/*.o
source/test/letest/Debug
source/test/letest/Makefile
source/test/letest/Release
source/test/letest/debug
source/test/letest/letest
source/test/letest/letest.exe
source/test/letest/letest.vcproj.*.*.user
source/test/letest/release
source/test/perf/charperf/*.d
source/test/perf/charperf/*.o
source/test/perf/charperf/Debug
source/test/perf/charperf/Makefile
source/test/perf/charperf/Release
source/test/perf/charperf/charperf
source/test/perf/charperf/charperf.vcproj.*.*.user
source/test/perf/charperf/debug
source/test/perf/charperf/release
source/test/perf/collperf/*.d
source/test/perf/collperf/*.o
source/test/perf/collperf/Debug
source/test/perf/collperf/Makefile
source/test/perf/collperf/Release
source/test/perf/collperf/collperf
source/test/perf/collperf/collperf.vcproj.*.*.user
source/test/perf/collperf/debug
source/test/perf/collperf/release
source/test/perf/convperf/Makefile
source/test/perf/convperf/convperf.vcproj.*.*.user
source/test/perf/convperf/debug
source/test/perf/convperf/release
source/test/perf/normperf/*.d
source/test/perf/normperf/*.o
source/test/perf/normperf/Debug
source/test/perf/normperf/Makefile
source/test/perf/normperf/Release
source/test/perf/normperf/debug
source/test/perf/normperf/normperf
source/test/perf/normperf/normperf.vcproj.*.*.user
source/test/perf/normperf/release
source/test/perf/perf.ncb
source/test/perf/perf.suo
source/test/perf/ubrkperf/*.d
source/test/perf/ubrkperf/*.o
source/test/perf/ubrkperf/Debug
source/test/perf/ubrkperf/Makefile
source/test/perf/ubrkperf/Release
source/test/perf/ubrkperf/debug
source/test/perf/ubrkperf/release
source/test/perf/ubrkperf/ubrkperf
source/test/perf/ubrkperf/ubrkperf.vcproj.*.*.user
source/test/perf/unisetperf/*.d
source/test/perf/unisetperf/*.o
source/test/perf/unisetperf/Debug
source/test/perf/unisetperf/Makefile
source/test/perf/unisetperf/Release
source/test/perf/unisetperf/debug
source/test/perf/unisetperf/release
source/test/perf/unisetperf/unisetperf
source/test/perf/unisetperf/unisetperf.vcproj.*.*.user
source/test/perf/usetperf/*.d
source/test/perf/usetperf/*.o
source/test/perf/usetperf/Debug
source/test/perf/usetperf/Makefile
source/test/perf/usetperf/Release
source/test/perf/usetperf/debug
source/test/perf/usetperf/release
source/test/perf/usetperf/usetperf
source/test/perf/usetperf/usetperf.vcproj.*.*.user
source/test/perf/ustrperf/*.d
source/test/perf/ustrperf/*.o
source/test/perf/ustrperf/Debug
source/test/perf/ustrperf/Makefile
source/test/perf/ustrperf/Release
source/test/perf/ustrperf/charperf
source/test/perf/ustrperf/debug
source/test/perf/ustrperf/release
source/test/perf/ustrperf/stringperf.vcproj.*.*.user
source/test/perf/utfperf/*.d
source/test/perf/utfperf/*.o
source/test/perf/utfperf/Debug
source/test/perf/utfperf/Makefile
source/test/perf/utfperf/Release
source/test/perf/utfperf/debug
source/test/perf/utfperf/release
source/test/perf/utfperf/utfperf
source/test/perf/utfperf/utfperf.vcproj.*.*.user
source/test/testdata/Makefile
source/test/testdata/out
source/test/testdata/pkgdata.inc
source/test/testmap/*.d
source/test/testmap/Debug
source/test/testmap/Makefile
source/test/testmap/Release
source/test/testmap/testmap
source/test/testmap/testmap.plg
source/test/thaitest/Makefile
source/test/threadtest/Makefile
source/tools/Makefile
source/tools/ctestfw/*.ao
source/tools/ctestfw/*.d
source/tools/ctestfw/*.o
source/tools/ctestfw/*.pdb
source/tools/ctestfw/*icutest*.dll
source/tools/ctestfw/*icutest*.exp
source/tools/ctestfw/*icutest*.lib
source/tools/ctestfw/*icutest*.lnk
source/tools/ctestfw/Debug
source/tools/ctestfw/Makefile
source/tools/ctestfw/Release
source/tools/ctestfw/ctestfw.vcproj.*.*.user
source/tools/ctestfw/debug
source/tools/ctestfw/libicutest*
source/tools/ctestfw/libsicutest*
source/tools/ctestfw/release
source/tools/dumpce/*.css
source/tools/dumpce/*.d
source/tools/dumpce/*.html
source/tools/dumpce/*.o
source/tools/dumpce/Makefile
source/tools/dumpce/dumpce
source/tools/genbidi/*.d
source/tools/genbidi/*.o
source/tools/genbidi/*.pdb
source/tools/genbidi/*.plg
source/tools/genbidi/Debug
source/tools/genbidi/Makefile
source/tools/genbidi/Release
source/tools/genbidi/debug
source/tools/genbidi/genbidi
source/tools/genbidi/genbidi.[0-9]
source/tools/genbidi/genbidi.vcproj.*.*.user
source/tools/genbidi/release
source/tools/genbrk/*.d
source/tools/genbrk/*.o
source/tools/genbrk/*.pdb
source/tools/genbrk/*.plg
source/tools/genbrk/Debug
source/tools/genbrk/Makefile
source/tools/genbrk/Release
source/tools/genbrk/debug
source/tools/genbrk/genbrk
source/tools/genbrk/genbrk.1
source/tools/genbrk/genbrk.vcproj.*.*.user
source/tools/genbrk/release
source/tools/gencase/*.d
source/tools/gencase/*.ncb
source/tools/gencase/*.o
source/tools/gencase/*.opt
source/tools/gencase/*.pdb
source/tools/gencase/*.plg
source/tools/gencase/Debug
source/tools/gencase/Makefile
source/tools/gencase/Release
source/tools/gencase/debug
source/tools/gencase/gencase
source/tools/gencase/gencase.[0-9]
source/tools/gencase/gencase.vcproj.*.*.user
source/tools/gencase/release
source/tools/genccode/*.d
source/tools/genccode/*.o
source/tools/genccode/*.pdb
source/tools/genccode/*.plg
source/tools/genccode/Debug
source/tools/genccode/Makefile
source/tools/genccode/Release
source/tools/genccode/debug
source/tools/genccode/genccode
source/tools/genccode/genccode.8
source/tools/genccode/genccode.vcproj.*.*.user
source/tools/genccode/release
source/tools/gencmn/*.d
source/tools/gencmn/*.o
source/tools/gencmn/*.pdb
source/tools/gencmn/*.plg
source/tools/gencmn/Debug
source/tools/gencmn/Makefile
source/tools/gencmn/Release
source/tools/gencmn/debug
source/tools/gencmn/gencmn
source/tools/gencmn/gencmn.8
source/tools/gencmn/gencmn.[0-9]
source/tools/gencmn/gencmn.vcproj.*.*.user
source/tools/gencmn/release
source/tools/gencnval/*.d
source/tools/gencnval/*.ncb
source/tools/gencnval/*.o
source/tools/gencnval/*.opt
source/tools/gencnval/*.pdb
source/tools/gencnval/*.plg
source/tools/gencnval/Debug
source/tools/gencnval/Makefile
source/tools/gencnval/Release
source/tools/gencnval/debug
source/tools/gencnval/gencnval
source/tools/gencnval/gencnval.1
source/tools/gencnval/gencnval.[0-9]
source/tools/gencnval/gencnval.vcproj.*.*.user
source/tools/gencnval/release
source/tools/genctd/*.d
source/tools/genctd/*.o
source/tools/genctd/*.pdb
source/tools/genctd/*.plg
source/tools/genctd/Debug
source/tools/genctd/Makefile
source/tools/genctd/Release
source/tools/genctd/debug
source/tools/genctd/genctd
source/tools/genctd/genctd.1
source/tools/genctd/genctd.vcproj.*.*.user
source/tools/genctd/release
source/tools/gennames/*.d
source/tools/gennames/*.ncb
source/tools/gennames/*.o
source/tools/gennames/*.opt
source/tools/gennames/*.pdb
source/tools/gennames/*.plg
source/tools/gennames/Debug
source/tools/gennames/Makefile
source/tools/gennames/Release
source/tools/gennames/debug
source/tools/gennames/gennames
source/tools/gennames/gennames.[0-9]
source/tools/gennames/gennames.vcproj.*.*.user
source/tools/gennames/release
source/tools/gennorm/*.d
source/tools/gennorm/*.o
source/tools/gennorm/*.pdb
source/tools/gennorm/*.plg
source/tools/gennorm/Debug
source/tools/gennorm/Makefile
source/tools/gennorm/Release
source/tools/gennorm/debug
source/tools/gennorm/gennorm
source/tools/gennorm/gennorm.[0-9]
source/tools/gennorm/gennorm.vcproj.*.*.user
source/tools/gennorm/release
source/tools/genpname/*.d
source/tools/genpname/*.o
source/tools/genpname/*.pdb
source/tools/genpname/*.plg
source/tools/genpname/Debug
source/tools/genpname/Makefile
source/tools/genpname/Release
source/tools/genpname/debug
source/tools/genpname/genpname
source/tools/genpname/genpname.vcproj.*.*.user
source/tools/genpname/release
source/tools/genprops/*.d
source/tools/genprops/*.ncb
source/tools/genprops/*.o
source/tools/genprops/*.opt
source/tools/genprops/*.pdb
source/tools/genprops/*.plg
source/tools/genprops/Debug
source/tools/genprops/Makefile
source/tools/genprops/Release
source/tools/genprops/debug
source/tools/genprops/genprops
source/tools/genprops/genprops.[0-9]
source/tools/genprops/genprops.vcproj.*.*.user
source/tools/genprops/release
source/tools/genrb/*.1
source/tools/genrb/*.d
source/tools/genrb/*.o
source/tools/genrb/*.pdb
source/tools/genrb/*.plg
source/tools/genrb/Debug
source/tools/genrb/Makefile
source/tools/genrb/Makefile.local
source/tools/genrb/Release
source/tools/genrb/debug
source/tools/genrb/derb
source/tools/genrb/derb.[0-9]
source/tools/genrb/derb.vcproj.*.*.user
source/tools/genrb/derb_*
source/tools/genrb/genrb
source/tools/genrb/genrb.[0-9]
source/tools/genrb/genrb.vcproj.*.*.user
source/tools/genrb/release
source/tools/genrb/temp
source/tools/gensprep/*.8
source/tools/gensprep/*.d
source/tools/gensprep/*.o
source/tools/gensprep/*.pdb
source/tools/gensprep/Debug
source/tools/gensprep/Makefile
source/tools/gensprep/Release
source/tools/gensprep/debug
source/tools/gensprep/gensprep
source/tools/gensprep/gensprep.[0-9]
source/tools/gensprep/gensprep.plg
source/tools/gensprep/gensprep.vcproj.*.*.user
source/tools/gensprep/release
source/tools/gentest/*.d
source/tools/gentest/*.o
source/tools/gentest/*.pdb
source/tools/gentest/Debug
source/tools/gentest/Makefile
source/tools/gentest/Release
source/tools/gentest/debug
source/tools/gentest/gentest
source/tools/gentest/gentest.exe
source/tools/gentest/gentest.vcproj.*.*.user
source/tools/gentest/release
source/tools/genuca/*.d
source/tools/genuca/*.o
source/tools/genuca/*.pdb
source/tools/genuca/Debug
source/tools/genuca/Makefile
source/tools/genuca/Release
source/tools/genuca/debug
source/tools/genuca/genuca
source/tools/genuca/genuca.8
source/tools/genuca/genuca.vcproj.*.*.user
source/tools/genuca/release
source/tools/icupkg/*.8
source/tools/icupkg/*.d
source/tools/icupkg/*.ncb
source/tools/icupkg/*.o
source/tools/icupkg/*.opt
source/tools/icupkg/*.pdb
source/tools/icupkg/*.plg
source/tools/icupkg/Debug
source/tools/icupkg/Makefile
source/tools/icupkg/Release
source/tools/icupkg/debug
source/tools/icupkg/icupkg
source/tools/icupkg/icupkg.[0-9]
source/tools/icupkg/icupkg.vcproj.*.*.user
source/tools/icupkg/release
source/tools/icuswap/*.d
source/tools/icuswap/*.ncb
source/tools/icuswap/*.o
source/tools/icuswap/*.opt
source/tools/icuswap/*.pdb
source/tools/icuswap/*.plg
source/tools/icuswap/Debug
source/tools/icuswap/Makefile
source/tools/icuswap/Release
source/tools/icuswap/debug
source/tools/icuswap/icuswap
source/tools/icuswap/icuswap.[0-9]
source/tools/icuswap/icuswap.vcproj.*.*.user
source/tools/icuswap/release
source/tools/makeconv/*.1
source/tools/makeconv/*.d
source/tools/makeconv/*.o
source/tools/makeconv/*.pdb
source/tools/makeconv/*.plg
source/tools/makeconv/Debug
source/tools/makeconv/Makefile
source/tools/makeconv/Release
source/tools/makeconv/debug
source/tools/makeconv/makeconv
source/tools/makeconv/makeconv.[0-9]
source/tools/makeconv/makeconv.vcproj.*.*.user
source/tools/makeconv/release
source/tools/pkgdata/*.1
source/tools/pkgdata/*.d
source/tools/pkgdata/*.ncb
source/tools/pkgdata/*.o
source/tools/pkgdata/*.opt
source/tools/pkgdata/*.pdb
source/tools/pkgdata/Debug
source/tools/pkgdata/Makefile
source/tools/pkgdata/Release
source/tools/pkgdata/debug
source/tools/pkgdata/icupkg.inc
source/tools/pkgdata/pkgdata
source/tools/pkgdata/pkgdata.[0-9]
source/tools/pkgdata/pkgdata.vcproj.*.*.user
source/tools/pkgdata/release
source/tools/toolutil/*.d
source/tools/toolutil/*.ncb
source/tools/toolutil/*.o
source/tools/toolutil/*.opt
source/tools/toolutil/*.pdb
source/tools/toolutil/*.plg
source/tools/toolutil/Debug
source/tools/toolutil/Makefile
source/tools/toolutil/Release
source/tools/toolutil/debug
source/tools/toolutil/libicu*
source/tools/toolutil/release
source/tools/toolutil/toolutil.vcproj.*.*.user
source/tools/tzcode/Makefile
source/tools/tzcode/ZoneMetaData.java
source/tools/tzcode/africa
source/tools/tzcode/antarctica
source/tools/tzcode/asia
source/tools/tzcode/australasia
source/tools/tzcode/backward
source/tools/tzcode/etcetera
source/tools/tzcode/europe
source/tools/tzcode/factory
source/tools/tzcode/icu_zone.txt
source/tools/tzcode/icuzdump
source/tools/tzcode/icuzdump.dSYM
source/tools/tzcode/icuzdumpout
source/tools/tzcode/iso3166.tab
source/tools/tzcode/leapseconds
source/tools/tzcode/northamerica
source/tools/tzcode/pacificnew
source/tools/tzcode/solar??
source/tools/tzcode/southamerica
source/tools/tzcode/systemv
source/tools/tzcode/tz2icu
source/tools/tzcode/tz?????????.tar.gz
source/tools/tzcode/tzorig
source/tools/tzcode/yearistype
source/tools/tzcode/yearistype.sh
source/tools/tzcode/zdumpout
source/tools/tzcode/zic
source/tools/tzcode/zone.tab
source/tools/tzcode/zoneinfo
source/tools/tzcode/zoneinfo.txt
