/*-stamp
/bin
/build
data/*.cnv
data/*.dat
data/*.exp
data/*.lib
data/*.lst
data/*.mak
data/*.res
data/char.brk
data/icudata.dll
data/icudt*.*
data/icupkg.inc
data/libicudata*
data/line.brk
data/line_th.brk
data/pkgdatain.txt
data/sent.brk
data/testdat*.*
data/word.brk
data/word_th.brk
debian/*.debhelper
debian/*.substvars
debian/*files
debian/control
debian/docs
debian/icu
debian/icu-data
debian/icu-i18ndata
debian/icu-locales
debian/icu.postinst
debian/icu.prerm
debian/libicu-dev
debian/libicu[0-9]*
debian/libicu[0-9]*.p*
debian/postinst
debian/prerm
debian/tmp
/include
/lib
source/Makefile
source/README
source/common/*.ao
source/common/*.d
source/common/*.plg
source/common/Debug
source/common/Makefile
source/common/Release
source/common/icucfg.h
source/common/libicu*.*
source/common/unicode/platform.h
source/config.cache
source/config.log
source/config.status
source/config/Makefile.inc
source/data/*.brk
source/data/*.cnv
source/data/*.dat
source/data/*.dll
source/data/*.exp
source/data/*.lib
source/data/*.obj
source/data/*.res
source/data/.links
source/data/Makefile
source/data/build/*.a
source/data/build/*.c
source/data/build/*.cnv
source/data/build/*.dat
source/data/build/*.lst
source/data/build/*.ncb
source/data/build/*.o
source/data/build/*.opt
source/data/build/*.plg
source/data/build/*.res
source/data/build/*.so
source/data/build/Debug
source/data/build/Makefile
source/data/build/Release
source/data/build/char.brk
source/data/build/icu*.mak
source/data/build/icudata.dll
source/data/build/icupkg.inc
source/data/build/libicudata*
source/data/build/line.brk
source/data/build/line_th.brk
source/data/build/pkgdatain.txt
source/data/build/sent.brk
source/data/build/word.brk
source/data/build/word_th.brk
source/extra/Makefile
source/extra/ustdio/*.d
source/extra/ustdio/Debug
source/extra/ustdio/Makefile
source/extra/ustdio/Release
source/extra/ustdio/libustdio.*
source/i18n/*.ao
source/i18n/*.d
source/i18n/Debug
source/i18n/Makefile
source/i18n/Release
source/i18n/libicu*.*
source/icudefs.mk
source/layout/*.d
source/layout/*.pdb
source/layout/Debug
source/layout/Makefile
source/layout/Release
source/layout/tmp
source/samples/Makefile
source/samples/cal/*.d
source/samples/cal/*.pdb
source/samples/cal/Debug
source/samples/cal/Makefile
source/samples/cal/Release
source/samples/cal/cal
source/samples/date/*.d
source/samples/date/*.pdb
source/samples/date/Debug
source/samples/date/Makefile
source/samples/date/Release
source/samples/date/date
source/test/Makefile
source/test/cintltst/*.d
source/test/cintltst/*.plg
source/test/cintltst/Debug
source/test/cintltst/Makefile
source/test/cintltst/Release
source/test/cintltst/cintltst
source/test/ieeetest/*.d
source/test/ieeetest/Debug
source/test/ieeetest/Makefile
source/test/ieeetest/Release
source/test/ieeetest/ieeetest
source/test/intltest/*.d
source/test/intltest/*.plg
source/test/intltest/Debug
source/test/intltest/Makefile
source/test/intltest/Release
source/test/intltest/intltest
source/test/testdata/*.c
source/test/testdata/*.dat
source/test/testdata/*.lst
source/test/testdata/*.mak
source/test/testdata/*.res
source/test/testdata/Makefile
source/test/testmap/*.d
source/test/testmap/Debug
source/test/testmap/Makefile
source/test/testmap/Release
source/test/testmap/testmap
source/tools/*.d
source/tools/*.pdb
source/tools/*.plg
source/tools/Debug
source/tools/Makefile
source/tools/Release
source/tools/ctestfw/*.d
source/tools/ctestfw/*.pdb
source/tools/ctestfw/Debug
source/tools/ctestfw/Makefile
source/tools/ctestfw/Release
source/tools/ctestfw/pkgdata
source/tools/ctestfw/tmp
source/tools/genccode/*.d
source/tools/genccode/*.pdb
source/tools/genccode/*.plg
source/tools/genccode/Debug
source/tools/genccode/Makefile
source/tools/genccode/Release
source/tools/genccode/genccode
source/tools/genccode/tmp
source/tools/gencmn/*.d
source/tools/gencmn/*.pdb
source/tools/gencmn/*.plg
source/tools/gencmn/Debug
source/tools/gencmn/Makefile
source/tools/gencmn/Release
source/tools/gencmn/decmn
source/tools/gencmn/gencmn
source/tools/gencmn/tmp
source/tools/gencnval/*.d
source/tools/gencnval/*.pdb
source/tools/gencnval/Debug
source/tools/gencnval/Makefile
source/tools/gencnval/Release
source/tools/gencnval/convrtrs.txt.[0-9]
source/tools/gencnval/gencnval
source/tools/gencnval/gencnval.[0-9]
source/tools/gencnval/tmp
source/tools/genfchk/*.d
source/tools/genfchk/*.pdb
source/tools/genfchk/*.plg
source/tools/genfchk/Debug
source/tools/genfchk/Makefile
source/tools/genfchk/Release
source/tools/genfchk/genfchk
source/tools/genfchk/tmp*
source/tools/gennames/*.d
source/tools/gennames/*.pdb
source/tools/gennames/Debug
source/tools/gennames/Makefile
source/tools/gennames/Release
source/tools/gennames/gennames
source/tools/gennames/tmp
source/tools/genprops/*.d
source/tools/genprops/*.pdb
source/tools/genprops/Debug
source/tools/genprops/Makefile
source/tools/genprops/Release
source/tools/genprops/genprops
source/tools/genprops/tmp
source/tools/genqchk/*.d
source/tools/genqchk/*.pdb
source/tools/genqchk/*.plg
source/tools/genqchk/Debug
source/tools/genqchk/Makefile
source/tools/genqchk/Release
source/tools/genqchk/genqchk
source/tools/genqchk/tmp*
source/tools/genrb/*.d
source/tools/genrb/*.pdb
source/tools/genrb/Debug
source/tools/genrb/Makefile
source/tools/genrb/Release
source/tools/genrb/genrb
source/tools/genrb/genrb.[0-9]
source/tools/genrb/tmp
source/tools/gentest/*.d
source/tools/gentest/*.pdb
source/tools/gentest/Debug
source/tools/gentest/Makefile
source/tools/gentest/Release
source/tools/gentest/gentest
source/tools/gentest/pkgdata
source/tools/gentest/tmp
source/tools/gentz/*.d
source/tools/gentz/*.pdb
source/tools/gentz/Debug
source/tools/gentz/Makefile
source/tools/gentz/Release
source/tools/gentz/gentz
source/tools/gentz/tmp
source/tools/genuca/*.d
source/tools/genuca/*.pdb
source/tools/genuca/Debug
source/tools/genuca/Makefile
source/tools/genuca/Release
source/tools/genuca/genuca
source/tools/genuca/genuca.8
source/tools/genuca/tmp
source/tools/icupkg.inc
source/tools/makeconv/*.d
source/tools/makeconv/*.pdb
source/tools/makeconv/*.plg
source/tools/makeconv/Debug
source/tools/makeconv/Makefile
source/tools/makeconv/Release
source/tools/makeconv/makeconv
source/tools/makeconv/makeconv.[0-9]
source/tools/makeconv/tmp
source/tools/pkgdata/*.d
source/tools/pkgdata/*.ncb
source/tools/pkgdata/*.opt
source/tools/pkgdata/*.pdb
source/tools/pkgdata/Debug
source/tools/pkgdata/Makefile
source/tools/pkgdata/Release
source/tools/pkgdata/icupkg.inc
source/tools/pkgdata/pkgdata
source/tools/pkgdata/tmp
source/tools/rbdump/*.d
source/tools/rbdump/*.pdb
source/tools/rbdump/Debug
source/tools/rbdump/Makefile
source/tools/rbdump/Release
source/tools/rbdump/pkgdata
source/tools/rbdump/tmp
source/tools/tmp*
source/tools/toolutil/*.d
source/tools/toolutil/*.pdb
source/tools/toolutil/Debug
source/tools/toolutil/Makefile
source/tools/toolutil/Release
source/tools/toolutil/libicu*
source/tools/toolutil/pkgdata
source/tools/toolutil/tmp
