# © 2016 and later: Unicode, Inc. and others.
# License & terms of use: http://www.unicode.org/copyright.html

# ICU4J preferences that are different from the errorprone defaults.
-Xep:UnicodeEscape:OFF
-XepOpt:Javadoc:customBlockTags=stable,draft,discouraged,internal,obsolete,category,bug,test
-XepOpt:Javadoc:customInlineTags=icu,icunote,icuenhanced

# We already fixed these and we want to prevent them from coming back.
# We will add more as we fix more.
-Xep:ArrayToString:ERROR
-Xep:ComparableType:ERROR
-Xep:DefaultCharset:ERROR
-Xep:EqualsHashCode:ERROR
-Xep:IdentityBinaryExpression:ERROR
-Xep:InvalidInlineTag:ERROR
-Xep:JUnit4TestNotRun:ERROR
-Xep:MisusedDayOfYear:ERROR
-Xep:MisusedWeekYear:ERROR
-Xep:ReturnValueIgnored:ERROR
-Xep:SelfComparison:ERROR
-Xep:SelfEquals:ERROR

# By default errorprone classifies this as error, and breaks the build.
-Xep:LabelledBreakTarget:WARN
