// policies needed to run tests
grant // codebase "file:${user.dir}/icu4jtests.jar"
{
	// temporary for debugging
        // permission java.lang.RuntimePermission "getProtectionDomain";

	// ibm 141 on ibm xp can't use reflection
	permission java.lang.RuntimePermission "accessDeclaredMembers";

	// needed for Locale.setDefault, only used in tests and demos
	permission java.util.PropertyPermission "user.language", "write";

	// needed for TestUtils
	permission java.util.PropertyPermission "ICUDataPath", "read";
	permission java.util.PropertyPermission "user.dir", "read";

	// time zone tests
	permission java.util.PropertyPermission "user.timezone", "read";
};

