# Azure Pipelines (VSTS) configuration for CI builds for ICU.

trigger:
  paths:
    include:
    - icu4j/*

variables:
  MAVEN_ARGS: '--show-version --no-transfer-progress'

jobs:
#-------------------------------------------------------------------------
- job: ICU4J_OpenJDK_Ubuntu_2204
  displayName: 'J: Linux OpenJDK (Ubuntu 22.04)'
  timeoutInMinutes: 20
  pool:
    vmImage: 'ubuntu-22.04'
    demands: ant
  steps:
    - checkout: self
      lfs: true
      fetchDepth: 10
    - script: |
        echo "Building ICU4J" && cd icu4j && mvn install
      displayName: 'Build and Test'
      env:
        BUILD: ICU4J
    # exit with a non-zero status in order to make this step show as a red X in the UI.
    - script: |
        cd icu4j && cat `find . -name surefire-reports -type d -exec grep -l  -r --include="*.txt" FAILED {} \;` && exit 1
      condition: failed() # only run if the build fails.
      displayName: 'List failures (if any)'
