# Exclude the Maven local repository but keep the lib directory and the top-level readme, scripts and build config.
/lib/**
!/lib/README.txt
!/lib/install-cldr-jars.sh
!/lib/pom.xml

# Ignore the default Maven target directory.
/cldr-to-icu/target

