Makefile
*.o
*.d
bin/
*.1
*.8
lib/
icudefs.mk
pkgdata.inc
common/svchook.mk
config.log
config.status
config/Makefile.inc
config/icu-config
config/icu*.pc
config/icucross.inc
config/icucross.mk
config/pkgdata.inc
config/pkgdataMakefile
data/build-dir
data/build-local
data/icupkg.inc
data/out/
data/packagedata
data/pkgdataMakefile
extra/uconv/pkgdata.inc
extra/uconv/pkgdataMakefile
extra/uconv/uconvmsg/
samples/cal/icucal
samples/date/icudate
stubdata/libicudata.so*
test/testdata/pkgdataMakefile
tools/ctestfw/libicutest.so*
tools/gentest/gentest
tools/icuinfo/icuinfo
