name: Publish icu4j.jar/utilities.jar to GH Maven
on:
  release:
    types: [created]
  workflow_dispatch:
    # To trigger the Env Test workflow manually, follow the instructions in
    # https://docs.github.com/en/actions/managing-workflow-runs/manually-running-a-workflow

env:
  SHARED_MVN_ARGS: '--show-version --no-transfer-progress'

permissions:
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - uses: actions/checkout@v3
        with:
          lfs: true
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '11'
      - name: icu4j and releaseCLDR
        run: |
          cd icu4j
          mvn ${SHARED_MVN_ARGS} clean install -DskipTests -DskipIT -P with_sources
      - name: deploy it
        run: |
          echo Github Ref ${GITHUB_REF} @ ${GITHUB_SHA};
          cd icu4j
          mvn deploy ${SHARED_MVN_ARGS} \
            -pl main/icu4j \
            -DaltDeploymentRepository=github::https://maven.pkg.github.com/${GITHUB_REPOSITORY} \
            -P with_sources
          mvn deploy ${SHARED_MVN_ARGS} \
            -pl tools/utilities-for-cldr \
            -DaltDeploymentRepository=github::https://maven.pkg.github.com/${GITHUB_REPOSITORY} \
            -P cldr_tools,with_sources
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
# Note: can use 0.0.0-${GITHUB_SHA} as the version for hash-based.
# i.e. build on every commit
